{% extends 'base.html' %}

{% block nav_btn1 %}
<button class="btn btn-primary ml-4">Post</button>
<a href="/logout" class="btn btn-dark ml-4">Sign Out</a>
    <a href="/profile" class="btn btn-dark ml-4">profile</a>
{% endblock nav_btn1 %}

{% block body %}
<div>
<div class="container my-4">
  <h5 class="card-header">
    Username<small>{{ user.username }}</small>
  </div>
  <div class="card-body">
    <p class="card-text">captions</p>
    <hr size="30px">
    <button class="btn btn-primary mx-4">Like</button>
    <button class="btn btn-warning mx-4">Comment</button>
    <button class="btn btn-info mx-4">Repost</button>
  </div>
</div>
</div>
{% endblock body %}